PapayagramsClient/PapayagramsClient/Connected Services/PapayagramsService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDC" nillable="true" type="tns:PlayerDC" />
  <xs:complexType name="ArrayOfFriendDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDC" nillable="true" type="tns:FriendDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDC" nillable="true" type="tns:ArrayOfFriendDC" />
  <xs:complexType name="FriendDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDC" nillable="true" type="tns:FriendDC" />
  <xs:complexType name="ArrayOfAchievementDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AchievementDC" nillable="true" type="tns:AchievementDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchievementDC" nillable="true" type="tns:ArrayOfAchievementDC" />
  <xs:complexType name="AchievementDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAchieved" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AchievementDC" nillable="true" type="tns:AchievementDC" />
  <xs:complexType name="GameInvitationDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameRoomCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInvitationDC" nillable="true" type="tns:GameInvitationDC" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameRoomCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>