PapayagramsClient/PapayagramsClient/Connected Services/PapayagramsService/item57.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.175.91:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
  <xs:import schemaLocation="http://192.168.175.91:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfintPlayerDClSN2Ry_Ss">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="PlayerDC" Namespace="http://schemas.datacontract.org/2004/07/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts" name="Item2" nillable="true" type="q1:PlayerDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintPlayerDClSN2Ry_Ss" nillable="true" type="tns:ValueTupleOfintPlayerDClSN2Ry_Ss" />
  <xs:complexType name="ValueTupleOfintArrayOfFriendDClSN2Ry_Ss">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfFriendDC" Namespace="http://schemas.datacontract.org/2004/07/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts" name="Item2" nillable="true" type="q2:ArrayOfFriendDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintArrayOfFriendDClSN2Ry_Ss" nillable="true" type="tns:ValueTupleOfintArrayOfFriendDClSN2Ry_Ss" />
  <xs:complexType name="ValueTupleOfintPlayerStatsDClSN2Ry_Ss">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="PlayerStatsDC" Namespace="http://schemas.datacontract.org/2004/07/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts" name="Item2" nillable="true" type="q3:PlayerStatsDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintPlayerStatsDClSN2Ry_Ss" nillable="true" type="tns:ValueTupleOfintPlayerStatsDClSN2Ry_Ss" />
  <xs:complexType name="ValueTupleOfintArrayOfAchievementDClSN2Ry_Ss">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfAchievementDC" Namespace="http://schemas.datacontract.org/2004/07/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts" name="Item2" nillable="true" type="q4:ArrayOfAchievementDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintArrayOfAchievementDClSN2Ry_Ss" nillable="true" type="tns:ValueTupleOfintArrayOfAchievementDClSN2Ry_Ss" />
  <xs:complexType name="ValueTupleOfintGameRoomDClSN2Ry_Ss">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="GameRoomDC" Namespace="http://schemas.datacontract.org/2004/07/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts" name="Item2" nillable="true" type="q5:GameRoomDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintGameRoomDClSN2Ry_Ss" nillable="true" type="tns:ValueTupleOfintGameRoomDClSN2Ry_Ss" />
</xs:schema>