PapayagramsClient/PapayagramsClient/Connected Services/PapayagramsService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameRoomCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>