PapayagramsClient/PapayagramsClient/Connected Services/PapayagramsService/ServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IMainMenuService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPregameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_RegisterUser_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q1:ServerException" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Logout_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q2:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetFriends_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q3:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_RemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_RemoveFriend_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q4:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_BlockFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockFriend" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_BlockFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_BlockFriend_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q5:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequests" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetFriendRequests_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q6:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_AcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_AcceptFriendRequest_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q7:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_RejectFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_RejectFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_RejectFriendRequest_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q8:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_SearchNoFriendPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchNoFriendPlayer" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_SearchNoFriendPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchNoFriendPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_SearchNoFriendPlayer_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q9:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_SendFriendRequest_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q10:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetPlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetPlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetPlayerProfile_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q11:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetAchievements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAchievements" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetAchievements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAchievementsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetAchievements_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q12:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetLeaderboard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderboard" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetLeaderboard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderboardResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_GetLeaderboard_ServerExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Contracts" name="detail" element="q13:ServerException" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_ReportToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportToServer" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_ReportToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportToServerResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_ReceiveFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_ReceiveFriendRequest_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_ReceiveGameInvitation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameInvitation" />
  </wsdl:message>
  <wsdl:message name="IMainMenuService_ReceiveGameInvitation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="IPregameService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IPregameService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IPregameService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IPregameService_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IPregameService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="IPregameService_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IPregameService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IPregameService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IPregameService_NotifyServer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServer" />
  </wsdl:message>
  <wsdl:message name="IPregameService_NotifyServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServerResponse" />
  </wsdl:message>
  <wsdl:message name="IPregameService_ReceiveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessage" />
  </wsdl:message>
  <wsdl:message name="IPregameService_StartGameResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IPregameService_RefreshLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshLobby" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReachServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ReachServer" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReachServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReachServerResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_RefreshGameRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshGameRoom" />
  </wsdl:message>
  <wsdl:message name="IGameService_RefreshGameRoom_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshGameRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/RegisterUser" message="tns:ILoginService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/RegisterUserResponse" message="tns:ILoginService_RegisterUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/RegisterUserServerExceptionFault" name="ServerExceptionFault" message="tns:ILoginService_RegisterUser_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Login" message="tns:ILoginService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginResponse" message="tns:ILoginService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Logout" message="tns:ILoginService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LogoutResponse" message="tns:ILoginService_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LogoutServerExceptionFault" name="ServerExceptionFault" message="tns:ILoginService_Logout_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMainMenuService">
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/GetFriends" message="tns:IMainMenuService_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/GetFriendsResponse" message="tns:IMainMenuService_GetFriends_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/GetFriendsServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_GetFriends_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/RemoveFriend" message="tns:IMainMenuService_RemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/RemoveFriendResponse" message="tns:IMainMenuService_RemoveFriend_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/RemoveFriendServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_RemoveFriend_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlockFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/BlockFriend" message="tns:IMainMenuService_BlockFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/BlockFriendResponse" message="tns:IMainMenuService_BlockFriend_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/BlockFriendServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_BlockFriend_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/GetFriendRequests" message="tns:IMainMenuService_GetFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/GetFriendRequestsResponse" message="tns:IMainMenuService_GetFriendRequests_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/GetFriendRequestsServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_GetFriendRequests_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/AcceptFriendRequest" message="tns:IMainMenuService_AcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/AcceptFriendRequestResponse" message="tns:IMainMenuService_AcceptFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/AcceptFriendRequestServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_AcceptFriendRequest_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/RejectFriendRequest" message="tns:IMainMenuService_RejectFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/RejectFriendRequestResponse" message="tns:IMainMenuService_RejectFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/RejectFriendRequestServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_RejectFriendRequest_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchNoFriendPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/SearchNoFriendPlayer" message="tns:IMainMenuService_SearchNoFriendPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/SearchNoFriendPlayerResponse" message="tns:IMainMenuService_SearchNoFriendPlayer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/SearchNoFriendPlayerServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_SearchNoFriendPlayer_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/SendFriendRequest" message="tns:IMainMenuService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/SendFriendRequestResponse" message="tns:IMainMenuService_SendFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/SendFriendRequestServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_SendFriendRequest_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/GetPlayerProfile" message="tns:IMainMenuService_GetPlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/GetPlayerProfileResponse" message="tns:IMainMenuService_GetPlayerProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/GetPlayerProfileServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_GetPlayerProfile_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAchievements">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/GetAchievements" message="tns:IMainMenuService_GetAchievements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/GetAchievementsResponse" message="tns:IMainMenuService_GetAchievements_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/GetAchievementsServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_GetAchievements_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaderboard">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/GetLeaderboard" message="tns:IMainMenuService_GetLeaderboard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/GetLeaderboardResponse" message="tns:IMainMenuService_GetLeaderboard_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMainMenuService/GetLeaderboardServerExceptionFault" name="ServerExceptionFault" message="tns:IMainMenuService_GetLeaderboard_ServerExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/ReportToServer" message="tns:IMainMenuService_ReportToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/ReportToServerResponse" message="tns:IMainMenuService_ReportToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/ReceiveFriendRequest" message="tns:IMainMenuService_ReceiveFriendRequest_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/ReceiveFriendRequestResponse" message="tns:IMainMenuService_ReceiveFriendRequest_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameInvitation">
      <wsdl:output wsaw:Action="http://tempuri.org/IMainMenuService/ReceiveGameInvitation" message="tns:IMainMenuService_ReceiveGameInvitation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMainMenuService/ReceiveGameInvitationResponse" message="tns:IMainMenuService_ReceiveGameInvitation_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPregameService">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IPregameService/CreateGame" message="tns:IPregameService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPregameService/CreateGameResponse" message="tns:IPregameService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IPregameService/JoinGame" message="tns:IPregameService_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPregameService/JoinGameResponse" message="tns:IPregameService_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IPregameService/LeaveLobby" message="tns:IPregameService_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPregameService/LeaveLobbyResponse" message="tns:IPregameService_LeaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPregameService/SendMessage" message="tns:IPregameService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IPregameService/StartGame" message="tns:IPregameService_StartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPregameService/NotifyServer" message="tns:IPregameService_NotifyServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPregameService/NotifyServerResponse" message="tns:IPregameService_NotifyServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IPregameService/ReceiveMessage" message="tns:IPregameService_ReceiveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGameResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IPregameService/StartGameResponse" message="tns:IPregameService_StartGameResponse_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/IPregameService/RefreshLobby" message="tns:IPregameService_RefreshLobby_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="ReachServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ReachServer" message="tns:IGameService_ReachServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ReachServerResponse" message="tns:IGameService_ReachServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/LeaveGame" message="tns:IGameService_LeaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/LeaveGameResponse" message="tns:IGameService_LeaveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshGameRoom">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/RefreshGameRoom" message="tns:IGameService_RefreshGameRoom_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RefreshGameRoomResponse" message="tns:IGameService_RefreshGameRoom_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILoginService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMainMenuService" type="tns:IMainMenuService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMainMenuService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BlockFriend">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/BlockFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/GetFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/RejectFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchNoFriendPlayer">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/SearchNoFriendPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerProfile">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/GetPlayerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAchievements">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/GetAchievements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLeaderboard">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/GetLeaderboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFault">
        <soap12:fault use="literal" name="ServerExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReportToServer">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/ReportToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/ReceiveFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameInvitation">
      <soap12:operation soapAction="http://tempuri.org/IMainMenuService/ReceiveGameInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPregameService" type="tns:IPregameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPregameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/NotifyServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessage">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/ReceiveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGameResponse">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/StartGameResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshLobby">
      <soap12:operation soapAction="http://tempuri.org/IPregameService/RefreshLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReachServer">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ReachServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshGameRoom">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RefreshGameRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImplementation">
    <wsdl:port name="NetTcpBinding_ILoginService" binding="tns:NetTcpBinding_ILoginService">
      <soap12:address location="net.tcp://localhost:8090/Contracts" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Contracts</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-PGEUD8U\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMainMenuService" binding="tns:NetTcpBinding_IMainMenuService">
      <soap12:address location="net.tcp://localhost:8090/Contracts" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Contracts</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-PGEUD8U\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPregameService" binding="tns:NetTcpBinding_IPregameService">
      <soap12:address location="net.tcp://localhost:8090/Contracts" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Contracts</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-PGEUD8U\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8090/Contracts" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Contracts</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-PGEUD8U\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>